@{
    ViewBag.Title = "My Blacklist";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Here lie the salty ones</p>

<p >This is a website I made to practice MVC and other skills in VS and i decided to have some fun along the way</p>
