@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>THE BLACKLIST</h1>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>No this isn't a race thing</h2>
        <p>
            
        </p>
    </div>
    <div class="col-md-4">
        <h2>Never forgive the dishonorable</h2>
        <p>Etch the names of those who would spit on the laws of the fightclub and keep them out</p>
        
    </div>
    <div class="col-md-4">
        <h2>Praise the Sun!</h2>
        <
    </div>
</div>